In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data_path = os.path.join(os.getcwd(), 'data', 'realestate.csv')
columns = ['TransactionDate', 'HouseAge', 'DistanceToNearestMRTStation', 'NumberOfConvenienceStores', 'Latitude', 'Longitude', 'PriceOfUnitArea']
df = pd.read_csv(data_path, names=columns)
df['TransactionDate'] = df['TransactionDate'].astype(str).str.split('.').str[0]

'2013'

In [9]:
df

,TransactionDate,HouseAge,DistanceToNearestMRTStation,NumberOfConvenienceStores,Latitude,Longitude,PriceOfUnitArea
1,2012,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
410,2013,13.7,4082.01500,0,24.94155,121.50381,15.4
411,2012,5.6,90.45606,9,24.97433,121.54310,50.0
412,2013,18.8,390.96960,7,24.97923,121.53986,40.6
413,2013,8.1,104.81010,5,24.96674,121.54067,52.5
414,2013,6.5,90.45606,9,24.97433,121.54310,63.9

In [7]:
y = df['PriceOfUnitArea']
x1 = df['TransactionDate']
x2 = df['HouseAge']
x3 = df['DistanceToNearestMRTStation']
x4 = df['NumberOfConvenienceStores']
x5 = df['Latitude']
x6 = df['Longitude']

In [ ]:
def hypothesis(x, theta):
    return theta[0] + theta[1] * x

def cost_function(x, y, theta):
    m = len(y)
    return (1 / (2 * m)) * sum((hypothesis(x, theta) - y) ** 2)